@media only screen and (min-width: 320px) {
    .container {
        position: fixed;
        width: 100vw;
        height: 142px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background: linear-gradient(180deg,
         rgba(119, 111, 196, 0.1) 19.89%,
         rgba(119, 111, 196, 0) 99.15%),
         #FFFFFF;
        border-radius: 20px;
    }

    .button_menus {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        margin: 20px 20px 20px 20px;
        column-gap: 20px;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        position: fixed;
        width: 140px;
        height: 365px;
        top: 102px;
        left: 629px;
        bottom: 727px;
        background: linear-gradient(90deg,
         rgba(119, 111, 196, 0.1) 17.11%,
         rgba(119, 111, 196, 0) 93.66%),
         #FFFFFF;
        border-radius: 20px;
    }

    .button_menus {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 20px 20px;
        padding: 20px 0;
        row-gap: 20px;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        position: fixed;
        width: 202px;
        height: 480px;
        top: 102px;
        left: 80vw;
        bottom: 110px;
        background: linear-gradient(90deg,
         rgba(119, 111, 196, 0.1) 17.11%,
         rgba(119, 111, 196, 0) 93.66%),
         #FFFFFF;
        border-radius: 20px;
    }

    .button_menus {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0 20px;
        row-gap: 20px;
        justify-content: center;
        padding: 70px 0;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        position: fixed;
        width: 202px;
        height: 480px;
        top: 102px;
        left: 85vw;
        bottom: 110px;
        background: linear-gradient(90deg,
         rgba(119, 111, 196, 0.1) 17.11%,
         rgba(119, 111, 196, 0) 93.66%),
         #FFFFFF;
        border-radius: 20px;
    }
}