@media only screen and (min-width : 320px ){
    .container {
        width: 100%;
        display: block;
    }

    .submitButton {
        width: 150px;
        height: 35px;
        background-color: #776FC4;
        border-radius: 30px;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        color: #ffffff;
    }

    .textinput {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        line-height: 15px;
        padding: 12px;
        width: 100%;
        height: 40px;
        background-color: #FFFFFF;
        border: 1px solid #B2A7B8;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .textarea {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        line-height: 15px;
        padding: 12px;
        width: 100%;
        height: 100px;
        background-color: #FFFFFF;
        border: 1px solid #B2A7B8;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}