@media only screen and (min-width: 320px) {
    .small {
        height: 15px;
    }

    .medium {
        height: 20px;
    }

    .large {
        height: 30px;
    }

    .spacer {
        height: 142px;
    }
}

@media only screen and (min-width: 768px) {
    .spacer {
        height: 30px;
    }
}